<div>
  <h2>Your Post</h2>
  <div>
    <label>Post Title</label>
    <input id="update-title" />
  </div>
  <div>
    <label>Post Content</label>
    <input id="update-content" />
    <input type="hidden" value="{{id}}" id="post_id" />
    <button class="btn" id="edit-post-btn">Edit Post</button>
  </div>
</div>
<script src="/js/updatePost.js"></script>