<form> 
    <div>
        <label id="username-login">Username:</label>
        <input>
    </div>
    <div>
        <label id="password-login">Password:</label>
        <input>
    </div>
    <div>
        <button id="loginBtn" type="submit">Login</button>
        <a href="/views/signup.handlebars">Sign up instead</a>
    </div>
</form>

<script src = "../public/js/login.js"></script>