<form> 
    <div>
        <label>Email:</label>
        <input>
    </div>
    <div>
        <label>Password:</label>
        <input>
    </div>
    <div>
        <button>Login</button>
        <a href="/views/signup.handlebars">Sign up instead</a>
    </div>
</form>

<script src = "./js/login.js"></script>