<form id="login-form"> 
    <div>
        <label>Username:</label>
        <input id="username-login">
    </div>
    <div>
        <label>Password:</label>
        <input id="password-login">
    </div>
    <div>
        <button id="loginBtn" type="submit">Login</button>
        <a href="/signup">Sign up instead</a>
    </div>
</form>

<script src="/js/login.js"></script>