<h2>Create a new post</h2>
<form id="newPostForm">
    <div>
        <label>Post Title</label>
        <input id="post-title"/>
    </div>
    <div>
        <label>Post Content</label>
        <input id="post-content"/>
    </div>
    <button class="btn" type="submit">New Post</button>
</form>

<script src="/js/newPost.js"></script>