#header {
    background: #555;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    align-items: flex-start
}

#navLinks {
    display: flex;
    width: 100%;
    color: #f1f1f1;
    text-decoration: none;
}

.navLinks {
    padding: 0 10px 0 10px;
    list-style: none;
    font-size: 25px;
}

.posts{ 
    color: black;
}
#page-title {
    padding-left: 50px;
}

a:link, a:visited, a:hover, a:active {
    color: #f1f1f1;
    text-decoration: none;
}

.btn {
    background-color: #555;
    color: #f1f1f1;
}
/* 
.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.stick + .content {
    padding-top: 102px;
} */